* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
  font-family: "poppins";
}
a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.logo {
  font-size: xx-large;
}
.logo > span {
  color: red;
}
.logo-container {
  flex: 1;
}
.nav-items > ul {
  display: flex;
  align-items: center;
}
.nav-items > ul > li {
  list-style: none;
  padding-right: 30px;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.shimmer-card {
  width: 200px;
  min-width: 200px;
  aspect-ratio: 2/3;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.res-card {
  width: 200px;
  min-width: 200px;
  aspect-ratio: 2/3;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.res-card:hover > .res-card-img {
  scale: 1.1;

  transition: scale 300ms ease;
}
.res-card-img {
  width: 100%;
  aspect-ratio: 2.5/2;
  object-fit: cover;
  border-radius: 15px;

  scale: 1;
  transition: scale 300ms ease;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.res-card-name {
  padding: 10px;
  padding-top: 15px;
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rating-container {
  display: flex;
  margin: 10px;
}
.rating {
  padding: 5px;
  background-color: green;
  border-radius: 5px;
  color: white;
}
.dishes {
  color: rgba(0, 0, 0, 0.651);
  /* text-align: center; */
  width: 100%;
  text-wrap: nowrap;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.delivery {
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 30px; */
}
.search .container > input {
  padding: 10px;
  outline: none;
  border-radius: 999;
  border: 1px solid rgb(126, 126, 126);
  margin-right: 10px;
}
.button {
  padding: 10px;
  border-radius: 999;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  color: white;
}
.button:hover {
  cursor: pointer;
}
